#wdi5-logo{
    width: 250px;
    margin: 0 auto;

}

#wdi5-logo-container{
    margin: 0 auto;
    text-align: center;
}



body{
    background-image: url("../pageContent/images/brillant.png");
}

.skills {
    background-color: lightgray;
    color: black;
    border-radius: 2px;
    box-shadow: 5px 5px 5px #888888;
    margin-bottom: 10px;
}


/*.shadowable{
    -webkit-transition: text-shadow 1s;
    -moz-transition: text-shadow 1s;
    -o-transition: text-shadow 1s;
    transition: text-shadow 1s;
}
.shadowable:hover{
    text-shadow:0.5px 1px 1.5px gray;
} 
*/

.growable{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}
.growable:hover{
    -ms-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01); 
    transform: scale(1.01); 
} 







/*Dark*/
.dark-member-name{
    color: white;
}
.dark-member-profile{
    display: inline-block;
}






#focus-team-member{
}



/*#member_node_left{
    min-width: 3em;
}
*/


.small-work-image{
    border: 1px solid lightgray;
    width: 25%;
}
.small-work-title{
    background-color: white;
    opacity:0.5;
}

#image-box{
    width: 100%;
    box-shadow: 2px 2px 2px #888888;
}

.group-photo{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    margin-bottom: 40px;
}

#group-photo-1{
    z-index: 9999;
}
#group-photo-2{
    z-index: 0;
}

#skills {
    text-align: center;
}

ul{
    list-style: none;
}
.container {
    margin-bottom: 30px;
}


#focus-team-member{
    min-height: 28.5em; 
    border-top: 3px solid gray;
    position: relative;
}

#team-members-bin{
    border-top: 3px solid gray;
}

#focus-member-image{
    border-bottom: 3px solid gray;  
    position: absolute; bottom: 0px;
}

.team-member-image-small{
    width: 7em;
}

a{
    text-decoration: none;
    display:inline-block;
}