#wdi5-logo{
    width: 250px;
    margin: 0 auto;

}

#wdi5-logo-container{
    margin: 0 auto;
    text-align: center;
}



body{
    background-image: url("../pageContent/images/brillant.png");
}

.skills {
    background-color: lightgray;
    color: black;
    border-radius: 2px;
    box-shadow: 5px 5px 5px #888888;
    margin-bottom: 10px;
}


.shadowable{
    -webkit-transition: text-shadow 1s;
    -moz-transition: text-shadow 1s;
    -o-transition: text-shadow 1s;
    transition: text-shadow 1s;
}
.shadowable:hover{
    text-shadow:0.5px 1px 1.5px gray;
} 


.growable{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

}
.growable:hover{
    transform: scale(1.01);
    -ms-transform: scale(1.01); 
    -webkit-transform: scale(1.01); 
} 


#focus-team-member{
    
}

#image img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    margin-bottom: 40px;
}


#group-photo-1{
    z-index: 9999;
}
#group-photo-2{
    z-index: 0;
}

#skills {
    text-align: center;
}

ul{
    list-style: none;
}
.container {
    margin-bottom: 30px;
}

